// ----- Basic styles ----- 
body {
	font-family: $font-regular;
	@include rem(font-size, 14px);
	color: $color-grey-dark;
	background: #fff;
}

a { 
	color: #000; 
	text-decoration: none; 
	@include transition(color, 300ms);

	&:hover, &:focus { 
		color: $color-grey-dark;
		text-decoration: none; 
	}
}


h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 { 	
	@include rem(margin-top, 10px);
	@include rem(margin-bottom, 20px);

	small, .small { }
} 

h1, .h1, h2, .h2 { 

}
h3, .h3, h3, .h3, h4, .h4, h5, .h5 { 

}

h1, .h1 { @include rem(font-size, 42px); }
h2, .h2 { @include rem(font-size, 24px); }
h3, .h3 { @include rem(font-size, 18px); } 
h4, .h4 { @include rem(font-size, 16px); }
h5, .h5 { @include rem(font-size, 14px); }

.text-lg { @include rem(font-size, 22px); } 
.text-md { @include rem(font-size, 16px); }
.text-sm { @include rem(font-size, 12px); }

p, ul, ol { @include rem(margin, 0 0 20px 0); }
ul, ol {
	@include rem(padding, 0 0 0 25px);

	li { @include rem(padding, 0 0 0 5px); }
	ul, ol { margin-bottom: 0; }
}

ul, ol, ul li, ol li {

}


// Nav
nav, nav ul, nav li, nav a { float: left; margin: 0; padding: 0; }
nav ul { list-style: none; list-style-image: none; }
	nav li { }
		nav a { }

.nav-inline {
	display: inline-block;
	float: none;
	ul, li, a { float: none; }
}


// Buttons
.btn { 
	display: inline-block;
	@include rem('padding', 15px 20px);

	color: #000;
	font-weight: bold; 
    text-align: center;
	text-transform: uppercase;
	line-height: 1em;
	vertical-align: middle;

	background: transparent;
	border: 1px solid #000;
 	cursor: pointer;

 	@include transition(all, 250ms);
}
    .btn:hover, a:hover .btn {
    	color: $color-grey-dark;
    }

.btn-container {
	text-align: center;

    .btn { margin: 0 15px 15px 0; }
    .btn:last-child { margin-right: 0; }
}


// Icons
.icon-round {
	display: inline-block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	@include rem(font-size, 18px);
	text-align: center;
	color: $color-grey-medium;
	background: $color-grey-light; 
	border-radius: 50%;
}
	a.icon-round:hover {
		background: $color-grey-light; 
	}
.icon-round-sm {
	@extend .icon-round;
	width: 26px;
	height: 26px;
	line-height: 26px;
	@include rem(font-size, 12px);
}

.nav-social {
	a {
		opacity: .9;
		@include transition(all, 200ms);

		&:hover { opacity: 1; }
	}

	.facebook { background: $color-facebook; }
	.twitter { background: $color-twitter; }
	.instagram { background: $color-instagram; }
	.youtube { background: $color-youtube; }
}


// Centrally align a block, align parent if the content becomes blurry - http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
.align-parent, .align-parent-3d {
	overflow: hidden;
}
.align-parent-3d {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
	.align-center-vertical {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.align-center-horizontal {
		position: relative;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.align-center-both {
		position: relative;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}



// Sliders
.cycle-slideshow { 
	position: relative;

	.cycle-slide { width: 100%; }
	.item { display: none; }
	.item-first { display: block; }
 }
 
.cycle-carousel {
	.cycle-slide { width: auto; }
	img { width: auto; height: auto; }
}
	.cycle-prev, .cycle-next { 
		@extend .align-center-vertical;
		position: absolute;
		color: #fff;
		@include rem(font-size, 50px);
		text-shadow: 1px 1px 4px rgba(0,0,0,.5);
		cursor: pointer;
		z-index: 1000;
	}
	.cycle-prev:hover, .cycle-next:hover { 
		color: $color-grey-medium;
	}
	.cycle-prev { left: 20px; }
	.cycle-next { right: 20px; }

	.cycle-pager { 
		position: absolute; 
		bottom: -10px; 
		width: 100%; 
		text-align: center; 
		z-index: 300; 
		overflow: hidden;
	}
		.cycle-pager span { 
			display: inline-block;
			@include rem(font-size, 40px);
			color: #fff; 
			cursor: pointer; 
		}
		.cycle-pager span:hover, .cycle-pager .cycle-pager-active { color: $color-grey-medium; }


// Overlays an item over another
.overlay-wrap {
	position: relative;
	display: block;
}
	.overlay {
		position: absolute;
		bottom: 0;
		margin: 0;
		padding: 15px;
		width: 100%;
		color: #fff;
		background: rgba(0,0,0,.6);
	}


/* ----- XS ----- */
/* 479px and down */
@media (max-width: $screen-xs-custom-max) {  

}

/* 480px and up */
@media (min-width: $screen-xs-custom-min) {  

}

/* 599px and down */
@media (max-width: $screen-xsm-custom-max) {  

}

/* 600px and up */
@media (min-width: $screen-xsm-custom-min) {  

}

/* 767px and down */
@media (max-width: $screen-sm-custom-max) { 
	html {
		// font-size: 50%;
		font-size: 56.25%;
	}
}


/* ----- SM ----- */
/* 768px and up */
@media (min-width: $screen-sm-min) { 
	h1, .h1 { @include rem(font-size, 46px); }
	h2, .h2 { @include rem(font-size, 36px); }
	h3, .h3 { @include rem(font-size, 30px); } 
	h4, .h4 { @include rem(font-size, 24px); }
	h5, .h5 { @include rem(font-size, 18px); }

	.text-lg { @include rem(font-size, 26px); } 
	.text-md { @include rem(font-size, 18px); }
	.text-sm { @include rem(font-size, 12px); }
}

/* 768px - 991px */
@media (min-width: $screen-sm-custom-min) and (max-width: $screen-md-custom-max) { 

}

/* 991px and down */
@media (max-width: $screen-md-custom-max) {  

}


/* ----- MD ----- */
/* 992px and up */
@media (min-width: $screen-md-custom-min) {  

}

/* 992px - 1999px */
@media (min-width: $screen-md-custom-min) and (max-width: $screen-lg-custom-max) {  

}


/* ----- LG ----- */
/* 1200px and up */
@media (min-width: $screen-lg-custom-min) { 

}
